<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence">
  <persistence-unit name="tcc_final" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <non-jta-data-source>java:app/controlecaixa</non-jta-data-source>
    <class>br.utfpr.caixa.model.Pessoa</class>
    <class>br.utfpr.caixa.model.Caixa</class>
    <class>br.utfpr.caixa.model.Categoria</class>
    <class>br.utfpr.caixa.model.Lancamento</class>
    <class>br.utfpr.caixa.model.Usuario</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQL82Dialect"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
